<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 완료</title>
    <link rel="stylesheet" href="ordercheck.css">
    <script src="ordercheck.js"></script>
</head>
<body>
    <div id="container">
        <img src="check.png" alt="체크 표시">
        <span id="sucess">주문이 완료되었습니다!</span>
        <button id="button">홈으로 돌아가기</button>
    </div>

</body>

</html>
