
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-menu {
  width: 200px;
  height:100px;
  background-color: #fff;
  border-radius: 10px;
  margin:100px;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.button-menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button-menu i {
    font-size: 100px;
    margin-bottom: 30px;
  }
.button-menu span {
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
