.title{
    display: block;
    position: relative;
    z-index: 5;
    margin: 0 0 10px;
    font-size: 38px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    line-height: 1;
    color: black;
    text-align: center;
}
table {
    width: 1110px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 150px;
}
.nodata {
    padding: 50px 0;
    text-align: center;
}
thead{
    border-bottom: solid 2px black;
}
.se_title{
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight:400;
    padding: 20px 20px;
}
.order-list {
    margin: 30px 0;
}
td {
    padding: 5px 0;
}