<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>delete</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="delete.css" />
    <script src="delete.js" type="module" defer></script>
  </head>
  <body>
  <!-- 헤더 -->
  <header style="text-align : center;">
    <a href="/home/home.html" >shop</a>
  </header>
<nav>
    <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
      <ul id="navbar">
       
        <li><a href="/account/account.html">MYPAGE</a></li>
        <li>
          <a href="/cart/cart.html" aria-current="page">
            <span class="icon">
              <i class="fas fa-cart-shopping"></i>
            </span>
            <span>CART</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!--회원탈퇴-->

    <div class="div-container">
      <h1>회원탈퇴</h1>
      <div class="certify-password">
        <input
          type="password"
          id="password"
          placeholder="비밀번호를 입력하세요"
        />
        <button id="submit">확인</button>
      </div>
    </div>
  </body>
</html>

