
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
}

.div-container h1 {
  padding: 0 10px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000;
}

.certify-password #password {
  width: 250px;
  height: 40px;
}
.certify-password #submit {
  background-color:black;
  border: 1px solid black;
  color:white;
  width: 80px;
  height: 40px;
}
