<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="product.css">
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script
    defer
    src="https://kit.fontawesome.com/9daa42bcef.js"
    crossorigin="anonymous"
  ></script>
  <script src="product.js" type="module" ref></script>
</head>

<body>

<!-- 헤더 -->
<div id="container"></div>

<!--메뉴 바(수정)-->
<div id="sidebarContainer"></div>

 <!-- 상품 리스트 나열 -->
    <div id="editors-pick">
        <div class="content-inner">
            <h3 class="title-large line">
                <strong class="title-bold" id="title-bold"></strong>
                <p class="title-thin" id="title-thin"></p>
            </h3>
            <div class="list-columns round" id="product-container">
            </div>
        </div>
    </div>
</body>

</html>