<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>관리자페이지</title>
        <!-- 아이콘 -->
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
          defer
          src="https://kit.fontawesome.com/7630448495.js"
          crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="/admin/admin.css" />
        <script src="/admin/admin.js" type="module" defer></script>
        
      </head>

<body>

        <!-- 헤더 -->
<div id="container"></div>

         <!-- admin -->
     <section>
        <div class = "container">
            <div class="menu">
                <a class="menu-card" href="/orderconfirm">
                    <div class="menu-icon">
                      <span class="icon has-text-info">
                        <i class="fa-solid fa-dollar-sign"></i>
                      </span>
                    </div>
                    <div class="menu-body">
                      <p class="title is-3">주문현황</p>
                    </div>
                  </a>
            </div>
            <div class="menu">
                <a class="menu-card" href="/category_add">
                    <div class="menu-icon">
                      <span class="icon has-text-info">
                        <i class="fa-solid fa-bars"></i>
                      </span>
                    </div>
                    <div class="menu-body">
                      <p class="title is-3">카테고리 추가</p>
                    </div>
                  </a>
            </div>
            <div class="menu">
                <a class="menu-card" href="/product_add">
                    <div class="menu-icon">
                      <span class="icon has-text-info">
                       
                        <i class="fa-solid fa-cart-shopping"></i>
                      </span>
                    </div>
                    <div class="menu-body">
                      <p class="title is-3">상품 추가</p>
                    </div>
                  </a>
            </div>
        </div>
     </section>
</body>
</html>
