<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 조회</title>
    <link rel="stylesheet" href="confirm.css">
</head>
<body>
    <div id="header">
        <h1 id="title">마이페이지</h1>
        
    </div>
    <section id="my_info_box">
        <h2 id="se_title">주문조회</h2>
        <div class="title_wrap">
            <div id="minititle">주문/배송 내역</div>
            <table>
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>주문가격</th>
                        <th>주문상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" class="nodata">주문내역이 존재하지 않습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
<script src="confirm.js"></script>
</html>